{% extends "base.html" %}

{% block title %}Admin Products{% endblock %}

{% block content %}
<h1>Admin Products Page</h1>
<table>
    <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Actions</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product.productId }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.stock }}</td>

        <td>
            <a href="{{ url_for('edit_product', product_id=product.productId) }}">Edit</a>
            <form action="{{ url_for('delete_product', product_id=product.productId) }}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{{ url_for('add_product') }}">Add New Product</a>
{% endblock %}
