{% extends "base.html" %}

{% block title %}Order Details{% endblock %}

{% block content %}
<h1>Order Details</h1>
<p><strong>Order ID:</strong> {{ order._id }}</p>
<p><strong>User Name:</strong> {{ order.user_full_name }}</p>
<p><strong>User DNI:</strong> {{ order.user_dni }}</p>
<p><strong>Payment Method:</strong> {{ order.payment_method }}</p>
<p><strong>Installments:</strong> {{ order.installments }}</p>
<p><strong>Total:</strong> ${{ order.total }}</p>

<h2>Items</h2>
<ul>
    {% for item in order['items'] %}
    <li>{{ item.name }} - Quantity: {{ item.quantity }}</li>
    {% endfor %}
</ul>

<a href="{{ url_for('view_all_orders') }}">Back to All Orders</a>
{% endblock %}
