{% extends "base.html" %}

{% block title %}Payment Success{% endblock %}

{% block content %}
    <h1>Payment Successful</h1>
<p>Thank you for your purchase!</p>
<p>Your order number is: {{ payment_info.order_number }}</p>
<p>Payment Method: {{ payment_info.payment_method }}</p>
<p>Total Amount: ${{ payment_info.total }}</p>
<p>Items:</p>
<ul>
    {% for item in payment_info['items'] %}
        <li>{{ item.name }} - Quantity: {{ item.quantity }}</li>
    {% endfor %}
</ul>
<a href="{{ url_for('products_page') }}">Continue Shopping</a>

{% endblock %}
